<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Test Games</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Account Player One" />
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Player One Select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>rock</option>
          <option>paper</option>
          <option>scissors</option>
        </select>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Account Player Two" />
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Player Two Select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>rock</option>
          <option>paper</option>
          <option>scissors</option>
        </select>
      </div>
    </div>
  </body>
</html>
