<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard List</title>
  <%- include("partials/dashboardHead"); %>
</head>
<body>
    <nav class="navbar bg-primary navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/list">Database</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/history">History</a>
            </li>
          </ul>
        </div>
      </nav>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Website</th>
            <th scope="col">Github</th>
            <th scope="col">Twitter</th>
            <th scope="col">Instagram</th>
            <th scope="col">FaceBook</th>

          </tr>
        </thead>
        <% users.forEach(user => { %>
        <tbody>
          
            <td><%= user.id %></td>
            <td><%= user.firstname %></td>
            <td><%= user.email %></td>
            <td><%= user.Userbio.phone %></td>
            <td><%= user.Userbio.mobile %></td>
            <td><%= user.Userbio.address %></td>
            <td><%= user.Userbio.website %></td>
            <td><%= user.Userbio.github %></td>
            <td><%= user.Userbio.twitter %></td>
            <td><%= user.Userbio.instagram %></td>
            <td><%= user.Userbio.facebook %></td>
            <td>
              <a href="/profile/<%= user.id %>">Look</a>
              <a href="/update/<%= user.id %>">Update</a>
              
            </td>
      
        </tbody>
        <% }) %>
      </table>      
</body>
</html>
