<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <%- include("partials/dashboardHead"); %>
</head>
<body>
    <nav class="navbar bg-primary navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/list">Database</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/admin/games">Games</a>
            </li>
          </ul>
        </div>
      </nav>
      
</body>
</html>