<html>
    <head>
        <title>Challenge 2</title>
        <!--meta tags-->
        <%- include("partials/gamesHead"); %>
    </head>

    <!--content ready-->
    <body>
        <div class="container-fluid">
            <!--panel atas-->
            <div class="row justify-content-start upper-panel">
                <div class="col-2"><a href="/Homepage"><img class="back-button" src="assets/_.png"></a></div>
                <div class="col-10 font-rps"><img class="logo-rps" src="assets/logo 1.png">ROCK PAPER SCISSORS</div>
            </div>
            <!--panel game-->
            <div class="row justify-content-center content-game">

                <!--player section-->
                <div class="col-4">
                    <h1 class="col-12" style="text-align: right">PLAYER 1</h1>
                    <div class="row pane-player" id="player-selected">
                    <!--rock image-->
                        <div class="col-12 choice-ply"><img src="assets/batu.png" class="rock float-right" id="rock"></div>
                    <!--paper image-->
                        <div class="col-12 choice-ply"><img src="assets/kertas.png" class="paper float-right" id="paper"></div>
                    <!--scissors image-->    
                        <div class="col-12 choice-ply"><img src="assets/gunting.png" class="scissors float-right" id="scissors"></div>
                    </div>    
                </div>

                <!--mid section-->
                <div class="col result">
                <div class="col who-win" id="text-result">VS</div>
                </div>

                <!--com section-->
                <div class="col-4">
                    <h1 class="col-12" style="text-align: left">COM</h1>
                    <div class="row pane-computer" id="com-selected">
                <!--rock image-->
                        <div class="col-12 choice-com"><img src="assets/batu.png" class="r-com float-left" id="com-rock"></div>
                <!--paper image-->
                        <div class="col-12 choice-com"><img src="assets/kertas.png" class="p-com float-left" id="com-paper"></div>
                <!--scissors image-->    
                        <div class="col-12 choice-com"><img src="assets/gunting.png" class="s-com float-left" id="com-scissors"></div>
                    </div>
                </div>    
            </div>

            <!--reload-->
            <div class="row justify-content-md-center">
                <div class="col-5"></div>
                <div class="col-2 reload-btn"><img src="assets/refresh.png" class="refresh" id="refresh"></div>
                <div class="col-5"></div>
            </div>
            <!--profile-->
            <div class="row justify-content-end">
                <div class="col-4 profile-user"><a href="/profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></div>
            </div>
        
        </div>
        
    </body>
    <!--load script-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/c2js.js" type="text/javascript"></script>
</html>