<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Update</title>
</head>
<body>
    <form method="POST" action="/userupdate">
      <input type="hidden" name="id" value="<%= userbio.id %>" />
        <div class="form-group">
          <label for="address">address</label>
          <input type="text" name="address" class="form-control" id="address" value="<%= userbio.address %>">
        </div>
        <div class="form-group">
            <label for="phone">phone</label>
            <input type="text" name="phone" class="form-control" id="phone" value="<%= userbio.phone %>">
          </div>
          <div class="form-group">
            <label for="mobile">mobile</label>
            <input type="text" name="mobile" class="form-control" id="mobile" value="<%= userbio.mobile %>">
          </div>
          <div class="form-group">
            <label for="website">website</label>
            <input type="text" name="website" class="form-control" id="website" value="<%= userbio.website%>">
          </div>
          <div class="form-group">
            <label for="github">github</label>
            <input type="text" name="github" class="form-control" id="github" value="<%= userbio.github %>">
          </div>
          <div class="form-group">
            <label for="facebook">facebook</label>
            <input type="text" name="facebook" class="form-control" id="facebook" value="<%= userbio.facebook %>">
          </div>
          <div class="form-group">
            <label for="instagram">instagram</label>
            <input type="text" name="instagram" class="form-control" id="instagram" value="<%= userbio.instagram %>">
          </div>
          <div class="form-group">
            <label for="twitter">twitter</label>
            <input type="text" name="twitter" class="form-control" id="twitter value" value="<%= userbio.twitter %>">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>